/project/sci5020-project-blx.bib
/project/sci5020-project.aux
/project/sci5020-project.bbl
/project/sci5020-project.blg
/project/sci5020-project.log
/project/sci5020-project.pdf
/project/sci5020-project.synctex.gz
project/sci5020-project.aux
project/sci5020-project.aux
